<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myController">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= title%>{{name}}</title>
	<link rel="stylesheet" href="./css/bootstrap.css">
	<link rel="stylesheet" href="./css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="./css/home.css">
	<link rel="stylesheet" href="./css/body.css">
	<link rel="stylesheet" href="./css/footer.css">
	<link rel="stylesheet" href="./css/contact.css">
	<link rel="stylesheet" href="./css/responsive.css">
</head>
<body>
	<div class="container-fluid body">
		<% include templates/header.ejs%>
		<div class="container-body container-fluid">
			<%if(title=='home'){%>
			   <% include templates/body.ejs%>
			<%}%>
			<%if(title=='about'){%>
			   <% include templates/about.ejs%>
			<%}%>
			<%if(title=='services'){%>
				<% include templates/services.ejs%>
		 <%}%>
		 <%if(title=='study-in-australia' || title=='study-in-japan' || title=='study-in-usa' || title=='study-in-europe'|| title=='study-in-newzealand' || title=='study-in-canada'){%>
			<% include templates/abroad.ejs%>
		 <%}%>
		 <%if(title=='contact'){%>
			<% include templates/contact.ejs%>
	 <%}%>
	 <%if(title=='faq'){%>
		<% include templates/faq.ejs%>
 <%}%>
		</div>
	</div>
  <% include templates/footer.ejs%>
  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="http://malsup.github.io/jquery.cycle.all.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- local script files -->
	<script src="./js/jquery.js"></script>
	<script src="./js/angular.js"></script>
</body>
</html>
<%if(title=='home'){%>
<style>
	#hom
{
   border-bottom: 2px dotted orange;
   color:orange;
}
</style>
<%}%>
<%if(title=='about'){%>
	<style>
		#abt
	{
		 border-bottom: 2px dotted orange;
		 color:orange;
	}
	</style>
	<%}%>
	<%if(title=='services'){%>
		<style>
			#serv
		{
			 border-bottom: 2px dotted orange;
			 color:orange;
		}
		</style>
	<%}%>
	<%if(title=='study-in-australia' || title=='study-in-canada'|| title=='study-in-europe'|| title=='study-in-japan' || title=='study-in-newzealand' || title=='study-in-usa'){%>
		<style>
			#s-a
		{
			 border-bottom: 2px dotted orange;
			 color:orange;
		}
		</style>
		<%}%>
		<%if(title=='contact'){%>
			<style>
				#c-u
			{
				 border-bottom: 2px dotted orange;
				 color:orange;
			}
		</style>
		<%}%>
		<%if(title=='faq'){%>
			<style>
				#faq
			{
				 border-bottom: 2px dotted orange;
				 color:orange;
			}
		</style>
		<%}%>
		<script>
		$(document).ready(function(){
			$('.fb,.social-links').mouseenter(function(){
				$('.social-links').css('margin-left','87%');
				$('#fast-contact').slideDown(1000);
			});
			$('.social-links').mouseleave(function(){
				$('.social-links').delay(2000).css('margin-left','96%');
				$('#fast-contact').hide();
			});
			$('#menu-icon').click(function(){
				$('.navbar-nav').toggle();
				
			});
		  
      });
		</script>
