.image-slider img
{
   width:100%;
   height:520px;
}
.image-slider{
    padding: 0px;
}
.feature-shortcut
{
    padding: 0px;
position: absolute;
width: 100%;
margin-top: 27%;
}
.shortcut img
{
    width: 100%;
    height: 100px;
}
.shortcut
{
    padding: 7px;
    /* border: 1px solid #dbdbdb; */
    margin-left: 3%;
    width: 16%;
}
.shortcut h4 
{
    position: absolute;
    color:red;
    display: none;
}
.shortcut h4 a
{
    color:red;
}
.shortcut img:hover+ .shortcut h4 
{
    display: block;
    z-index:9;
}
.social-links
{
    width: 198px;
    float: right;
    position: fixed;
    margin-left: 96%;
    margin-top: 4%;
    z-index: 88;
}
.fb span
{
    margin-left: -9px;

color: white;

font-size: 18px;
}
.fb
{
    padding:9px 19px;
    background: #2e7cc0;
margin-top: 6px;

border: 1px solid #ededed;
}
.underline
{
    width: 4%;

padding: 1px;

background: orange;

margin-top: 0px;
}
.read-more
{
    color: #fff;
    margin-left: 40%;
    margin-top: 3%;
    border: 0px;
    border-radius: 1px;
    padding: 8px 43px;
    width: 20%;
}
.services
{
padding: 0px;
}

/* #background
{
    height: 600px;
    position: absolute;
opacity: 0.2;
    width: 100%;
} */
.career
{
    border: 1px solid #dedede;
margin-left: 10%;
padding: 0px;
width: 35%;
background: white;
margin-top: 3%;
}
.career img
{
    width: 100%;
height: 233px;
}
#cycle{
    height: 248px;
    padding: 0px;
}
.career h5
{
    text-align: center;
background: #4a9ef0;
padding: 12px;
font-size: 22px;
color: white;
margin-top: 0px;
font-weight: bold;
font-family: san serif;
}
.career p
{
    width: 90%;
padding-bottom: 9px;
font-size: 18px;
font-family: san serif;
color: #77787b;
}
.abroad
{
    border: 1px solid #c3c7f6;
    padding: 0px;
    margin-left: 1.7%;
    width: 31%;
    margin-bottom: 1.7%;
}
.abroad p
{
    width: 97%;
font-size: 15px;
color: #717171;
line-height: 21px;
height: 107px;
overflow: hidden;
font-family: arial;
}
.abroad h5
{
    font-size: 17px;
text-align: center;
font-weight: bold;
color: #416af9;
}
.abroad button
{
    margin-left: 36%;

margin-bottom: 11px;

border-radius: 0px;

background: #ef750d;

border: none;

padding: 5px 33px;
}
/* study abroad */
.aus
{
    width: 100%;
height: 195px;
}
.flag
{
    width: 38%;
height: 72px;
margin-top: -41px;
margin-left: 31%;
border: 4px solid white;
}