/* contact us design */
#locc
{
    margin-left: 9%;
    margin-top: 2%;
}
.message-us
{
   padding-left: 1%;
padding-right: 8%;
}
.contact-info
{
padding-left: 10%;
}
.contact-info h2,.message-us h2,.contacts h2
{
font-size: 26px;
color: #444;
font-family: fontawesome;
}
.contacts
{
margin-top: 2%;
}
.contact-info p
{
font-size: 16px;
color: #939393;
font-weight: bold;
margin-top: 2%;
}
.contact-info div label
{
margin-left: 6%;
color: #8aa9ba;
font-size: 15px;
}
.contact-info p span
{
font-size: 25px;
margin-right: 3%;
color: #71baf0;
}
.social-link span
{
font-size: 20px;

margin-left: 1%;

color: #6b6b6c;

padding: 4px 7px;

border: 1px solid #d5d2d2;
}
.forms input,.forms select
{
width: 48%;

padding: 6px;

margin-top: 4px;

border: 1px solid #9ecaf0;

margin-bottom: 5px;
}
.forms textarea
{
width: 97%;
padding: 6px;
border: 1px solid #b2d5f3;

margin-top: 1%;

margin-bottom: 1%;
}
.forms button
{
width: 30%;

border-radius: 1px;

padding: 8px;
background: #32accd;
border: 0px;
}
.locations iframe
{
width: 100%;
height: 400px;
margin-top: 2%;
border: 0px;
margin-bottom: -4%;
}
/* about us design */
.profile
{
 width: 90%;
margin-left: 6%;
margin-top: 4%;
}
.profile h4
{
 margin-left: 1%;

font-weight: bold;

color: #2f2e2e;

font-size: 19px;
}
.profile img
{
 padding: 0px;

width: 16%;

border: 2px solid #dadaf6;

height: 150px;
}
.profile p
{
 word-spacing: 3px;
width: 80%;
margin-right: 0%;
font-size: 15px;
}
.description p
{
 width: 100%;
}
.description h5
{
 font-size: 16px;
font-weight: bold;
color: #b3b3b6;
}
/* services design */
.included-courses
{
    border-left: 2px solid #deebf3;
    padding-left: 20px;
    padding-right: 0px;
    width: 18%;
    height:200px;
}
/* study abroad */
.topics,.sub-menus
{
    margin-top: 6.5%;
background: #e4e4e4;
padding: 10px;
}
.topics a,.sub-menus a
{
    color: #626363;
text-decoration: none;
margin-left: 11px;
font-size: 15px;
font-family: san;
font-weight: bold;
}
.topics a:hover
{
    text-decoration: underline;
    color: #4c66c0;
}
.details-of
{
    margin-top:3%;
}
.images img
{
    margin-bottom: 6%;
width: 100%;
height: 378px;
}
.images
{
    padding-top: 0px;
border-bottom: 1px solid #a2a2a2;
width: 97%;
}
.forms
{
    margin-bottom: 4%;
}