.navbar-brand img
{
	height: 70px;
	width: 85px;
margin-top: -19%;
margin-left: 36%;
}
.navbar-brand h4
{
	float: right;
margin-top: -43%;
margin-right: -100%;
font-size: 43px;
font-weight: bold;
color: white;
}
#fast-contact
{
	margin-left: 3px;
font-size: 11px;
position: absolute;
font-weight: bold;
display: none;
}
.body,.header,.container-fluid
{
	padding: 0px;
margin: 0px;
}
.navbar-inverse
{
position: fixed;
z-index: 99;
width: 100%;
background-color: #004486;
border-radius: 0px;
border: 0px;
padding: 5px;
}
.navbar-nav
{
	float: right;
margin-right: 10%;
}
.navbar-inverse .navbar-nav > li > a {
color: #f9f9f9;
font-weight: normal;
padding-bottom: 9px;
font-family: FontAwesome;
font-size: 15px;
}
.navigation li 
{
	margin-right: 6px;
}
.navbar-header
{
	margin-left: 5%;
}
.container-body
{
	margin-top: 52px;
}
.about h4
{
	text-align: center;
	font-size: 30px;
margin-top: 49px;
color: #0a42c9;
font-weight: bold;
font-family: san serif;
letter-spacing: 2px;
}
.menu-bars
{
	display: none;
}
.about p
{
	width: 81%;
margin: 0 auto;
color: #7e7e7e;
font-size: 18px;
font-family: san serif;
}
#loading
{
	position: absolute;
margin-top: -9%;
margin-left: -8%;
display: none;
}
#back-img
{
	width: 100%;
height: 248px;
background: #999ee7;
/* opacity: 0.2; */
}
.service
{
	background: #f0f0f0;
padding-bottom: 1%;
}
.about-us h3,.our-services h3,.contact-us h3,.study-ab h3
{
	font-family: fontawesome;
	text-align: center;
color: #fff;
font-size: 36px;
font-weight: bold;
/* background: #1c8eec; */
/* width: 30%; */
margin: -10% auto;
margin-bottom: 0px;
padding: 3px;
}
.about-us,.our-services,.contact-us,.study-ab
{
	padding: 0px;
}
/* //affix */
.affix {
	top: 10%;
	left: 78%;
	width: 18%;
}
.description
{
	padding-right: 46px;
	border: 1px solid #e4e5e6;padding: 0px 18px;
}
.description p
{
	margin-bottom: 3%;
}
/* //faq */
.faqs
{
   width: 57%;
margin: 0 auto;
   margin-top: 10%;
}
.faqs p
{
   color: #3da3e4;
font-size: 19px;
	cursor: pointer;
padding: 13px;
background: #efefef;
}
.faqs p span
{
   float: right;
font-size: 20px;
color: #a3a6c9;
}
#q1,#q2,#q3,#q4,#q5,#q6
{
   background: #efefef;

margin-top: -9px;

padding-left: 12px;

margin-bottom: 9px;

color: gray;

padding-top: 6px;
}