@media screen and (max-width:800px){
    .menu-bars
    {
        display: block;
        width: 40px;
        float: right;
        margin-top: -15%;
        margin-right: 0%;
        font-size: 25px;
        color: #a8bec6;
        font-weight: normal;
    }
    .navbar-brand h4{
        margin-top: -11%;
margin-right: -91%;
font-size: 25px;
    }
    .navigation
    {
        width: 104%;

padding: 0px;

margin-right: -2%;

background: #004486;
padding-top: 6%;
margin-top: -5%;
    }
    #hom
    {
        border-top: 1px solid #0c5889;
    }
    .navigation li
    {
        margin: 0px;
border-bottom: 1px solid #0c5889;
padding: 1px;
    }
    .navbar-nav li a
    {
        padding: 8px 4px;

text-align: center;

font-size: 12px;
    }
    .navbar-nav
    {
        display: none;
        width: 65%;
    }
    .navbar-brand img {
        height: 53px;

width: 62px;

margin-top: -6%;

margin-left: 1%;

position: absolute;
    }
    .navbar-inverse
    {
        max-height: 42px;
        min-height: 0px;
    }
    .container-body
    {
        margin-top: 12%;
    }
    .image-slider img {
        width: 100%;
        height: 280px;
     }
     .about h4
     {
        margin-top: 7%;
        font-size: 19px;
     }
     .underline
     {
        width: 12%;
        margin-top: -1%;
     }
     .about
     {
         padding: 0px;
         width: 94%;
margin: 0 auto;
     }
     .profile p,.contact-info p,.about-us p
     {
        width: 100%;
        font-size: 14px;
        padding-left: 9px;
        border: 1px solid #e4e4e4;
        margin-top: 0%;
        color: #818181;
     }
     .description p
     {
        width: 100%;
        font-size: 14px;
        padding-left: 9px;
        margin-top: 0%;
        color: #818181;
     }
     .read-more
     {
        margin-left: 25%;
        width: 50%;
        padding: 6px 4px;
     }
     .career
     {
        width: 93%;
        margin: 3% auto;
     }
     .career img
     {
        height: 196px;
     }
     .service
     {
        background: #fff;
     }
     .career h5
     {
        padding: 6px;
        font-size: 18px;
        margin-top: 1%;
     }
     .career p
     {
        width: 100%;
        padding-left: 9px;
     }
     .abroad
     {
        width: 97%;
        margin: 0 auto;
     }
     .abroad p
     {
        font-size: 13px;
        padding-left: 5px;
     }
     .abroad button
     {
        margin-top: 3%;
        margin-left: 31%;
     }
    /* .shortcut {
        margin-left: 0%;
        width: 50%;
        float: left;
    }
    .shortcut img {

        width: 100%;
        height: 76px;
    
    } */ 

  
.feature-shortcut {
    margin-top: -66%;
    display: none;
}
/* about us page */
#back-img
{
    height: 126px;
}
.about-us h3, .our-services h3, .contact-us h3, .study-ab h3
{
    margin-top: -16%;
font-size: 21px;
}
.topics, .sub-menus {
    padding: 7px;
}
.topics a, .sub-menus a {
    font-size: 13px;
    margin-left: 1%;
}
.profile,.details-of,.contact-info
{
    width: 94%;
padding: 0px;
margin: 0 auto;
}
.description{
    width: 100%;
    padding: 0px;
}
.profile h4,.contact-info h2,.message-us h2,.location h2
{
    font-size: 17px;
color: #7b7b7b;
margin-top: 9%;
}
.profile img,.images img
{
    width: 100%;
}
.description h5 {

    font-size: 13px;
}
.included-courses
{
    width: 100%;
padding: 0px;

border-left: 0px;
}
.affix
{
    top: 0px;
left: 0px;
width: 100%;
position: relative;
}
.images img
{
    height: 200px;
    margin-top: 2%;
}
.details-of div
{
    width: 100%;
    padding: 0px;
}
.faqs
{
    width: 100%;
    margin: 0px;
}
.faqs p
{
    font-size: 14px;
padding: 4px;
line-height: 16px;
margin-bottom: 4%;
}
.faqs p span
{
    margin-top: -12%;
}
#q1, #q2, #q3, #q4, #q5, #q6
{
    font-size: 12px;
}
.contacts
{
    padding: 0px;
}
#message label
{
    font-size: 12px;

color: #5f5c5c;
}
.forms
{
    width: 100%;
padding: 0px;
/* margin-left: 12px; */
}
.message-us {
    padding-left: 1%;
padding-right: 1%;
}
.forms button
{
    padding: 7px 0px;
}
.locations iframe
{
    height: 292px;
   margin-bottom: -26%;
}

.forms input, .forms select,.forms textarea
{
    width: 100%;
}
.navbar-inverse .navbar-nav > li > a {
    font-size: 12px;
}

}