<div class="col-sm-12 col-lg-12 about-us">
    <img src="./images/background.png" alt="" id="back-img">
    <h3>KNOW ABOUT US</h3>
    <div class="sub-menus">
        <a href="#profile">Our Profile</a>
        <a href="#why">Why Us?</a>
        <a href="#ceo">Ceo Message</a>
    </div>
    <div class="profile col-sm-12 col-lg-12" id="profile">
        <h4>Our Profile</h4>
        <div class="descriptio">
            <p id="profile" class="col-sm-10 col-lg-10">
           <%= data.about%>
           </p>
           <img src="./images/aus.jpg" alt="ceo image" class="col-sm-2 col-lg-2">
        </div>
    </div>
    <div class="profile col-sm-12 col-lg-12" id="why">
        <h4>Why XEEIS?</h4>
        <div class="description col-sm-12">
            <!-- <p id="profile" class="col-sm-12 col-lg-12"> -->
                 <h5>Expreriences</h5> 
                 <p><%= data.exprerience%></p> 
                 <h5>Credibility</h5>
                 <p><%= data.credibility%></p> 
                 <h5>Specilized Staff</h5>
                 <p><%= data.staff%></p>
            <!-- </p> -->
        </div>
    </div>
    <div class="profile col-sm-12 col-lg-12" id="ceo">
        <h4>Message From CEO</h4>
        <div class="descriptio">
            <p id="profile" class="col-sm-10 col-lg-10">
                <%= data.ceo%>
            </p>
            <img src="./images/pte.png" alt="ceo image" class="col-sm-2 col-lg-2">
        </div>
     </div>    
</div>

<style>
  
</style>