<div class="col-sm-12 col-lg-12 study-ab">
        <img src="./images/background.png" alt="" id="back-img">
        <h3><%= studyAbroad.title%></h3>
        <div class="topics">
            <% for(var i=0; i<= studyAbroad.topics.length; i++){%>
              <a href="#<%= studyAbroad.topics[i]%>"><%= studyAbroad.topics[i]%></a>
             <%}%>
             <!-- <a href="">Quality of Education/ Global Recognition</a>
             <a href="">Wide Range of Course</a>
             <a href="">Technology & Innovation</a>
             <a href="">Multiculturalism</a>
             <a href="">Vtopicsisa Regulations</a>
             <a href="">Part-Time Jobs/ Cost of Living</a> -->
        </div>
        <div class="col-sm-12 col-lg-12 details-of">
            <div class="col-sm-5 col-lg-5">
                    <div class="images">
                            <img src="./images/<%= studyAbroad.images%>" alt="study In <%= studyAbroad.title%>" class="img-responsive">
                        </div>
                        <div class="forms">
                            <h4>Contact Now</h4>
                                <form>
                                    <input type="text" id="" placeholder="Name*" required name="name" ng-model="field.name">
                                  <input type="email" id="" placeholder="Email*" required name="email" ng-model="field.email"><br>
                                  <input type="text" id="" placeholder="Contact*" required name="contact" ng-model="field.contact" pattern="[0-9]{10}">
                                  <select ng-model="field.studyAbroad">
                                      <option value="Just Enquiry">select Interested In</option>
                                      <option value="Study Abroad" name="studyAbroad">Study Abroad</option>
                                      <option value="Career Counseling"  name="studyAbroad">Career Counseling</option>
                                      <option value="Test Preparation" name="studyAbroad">Test Preparation</option>
                                  </select>
                                      <br>
                                  <textarea name="" id="" cols="40" rows="4" placeholder="Message" name="message" ng-model="field.message"></textarea><br>
                                  <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
                                  <img src="./images/loading.gif" id="loading">
                                  <h4>{{success}}</h4>
                               </form>
                              </div>
                         
            </div>
            <div class="col-sm-7 col-lg-7">
                    <div class="description" style="">
                            <!-- <p id="profile" class="col-sm-12 col-lg-12"> -->
                             <% for(var i=0; i<= studyAbroad.topics.length; i++){%>
                                 <h5 id="<%= studyAbroad.topics[i]%>"><%= studyAbroad.topics[i]%></h5>
                                 <p><%= studyAbroad.description[i]%></p> 
                             <%}%>
                            <!-- </p> -->
                        </div>
            </div>
        </div>
 </div>