<div class="col-sm-12 col-lg-12 image-slider">
    <img src="./images/sa.png" alt="">
</div>
<div class="col-sm-12 feature-shortcut">
    <div class="col-sm-2 shortcut">
        <h4><a href=""> Study In Australia</a></h4>
        <img src="./images/ausflag.png" alt="Study in Australia">
    </div>
    <div class="col-sm-2 shortcut">
            <h4><a href=""> Study In Canada</a></h4>
         <img src="./images/canflag.png" alt="Study in Canada">
    </div>
    <div class="col-sm-2 shortcut">
            <h4><a href=""> Study In Europe</a></h4>
        <img src="./images/europeflag.jpg" alt="Study in Europe">
    </div>
    <div class="col-sm-2 shortcut">
            <h4><a href=""> Study In Japan</a></h4>
        <img src="./images/japflag.jpg" alt="Study in japan">
    </div>
    <div class="col-sm-2 shortcut">
            <h4><a href=""> Study In New-Zealand</a></h4>
        <img src="./images/newflag.gif" alt="Study in New Zealand">
    </div>
</div>

<div class="col-sm-12 col-lg-12 about">
    <h4>Who We Are?</h4><hr class="underline">
    <div class="about-us">
       <p>Xpress Entry Educational & Information Services (XEEIS) is 
           a licensed  education consultancy established in 2015 AD, 
           delivering a range of education through trained professionals 
           from the very beginning. We are committed to 
           assist students in making the best
            choice as regards to international education destination and
             institution. 
             Our team delivers a full range of customized services 
             to students. We provide reliable information regarding various educational 
             courses/ programs available at various international colleges and universities;
              counseling to assist students select appropriate program based on their qualification and 
              choice; assistance during admission application processing, enrollment
              confirmation and visa processing (also include pre-departure and post-arrival services). 
       </p>
       <a href="/about"><button class="btn btn-primary read-more">More Details</button></a>
    </div>
</div>
<div class="col-sm-12 col-lg-12 services about">
    <!-- <img src="./images/shortback.jpg" alt="" id="background"> -->
        <h4>Services We Provide</h4><hr class="underline">
        <div class="service">
          <div class="career col-sm-5 col-lg-5">
              <div>
                    <img src="./images/career.jpg" alt="career counseling">
              </div>
              <h5>Career Counseling</h5>
                <p>Most of the students are in a dilemma about various 
                  career options to choose especially after intermediate
                   and under graduation.
                   We have made an exhaustive list of course for most 
                   of the Qualifications & specializations.
                </p>
          </div>
          <div class="career col-sm-5 col-lg-5 test">
                <div class="col-sm-12" id="cycle">
                        <img src="./images/toefl.jpg" alt="Toefl">
                        <img src="./images/gmat.jpg" alt="Gmat">
                        <img src="./images/gre.png" alt="GRE">
                        <img src="./images/pte.png" alt="pte">
                        <img src="./images/sat.png" alt="SAT">
                        <img src="./images/ielts.png" alt="Ielts">
                </div>
                <h5>Test Preparation</h5>
                <p>Most of the students are in a dilemma about various 
                  career options to choose especially after intermediate
                   and under graduation.
                   We have made an exhaustive list of course for most 
                   of the Qualifications & specializations.
                </p>
          </div>
          <a href="/services"><button class="btn btn-primary read-more">More Details</button></a>
        </div>
 </div>
<div class="col-sm-12 col-md-12 study-abroad about">
        <h4>Study Abroad</h4><hr class="underline">
        <div class="col-sm-4 col-lg-4 abroad">
            <img src="./images/aus.jpg" alt="australia" class="aus">
           <img src="./images/ausflag.png" alt="flag" class="flag">
           <h5>Study In Australia</h5>
           <p>
                Australia is the third most popular destination for International Students.
                 Apart from the fact that it is home to 8 of top 100 Universities in world,
                  5 of the top 30 cities in the world, 9th in terms of university ranking.
           </p>
           <a href="/study-in-australia"><button class="btn btn-primary btn-sm">See More</button></a>
        </div>
        <div class="col-sm-4 col-lg-4 abroad">
            <img src="./images/can.jpg" alt="Canada" class="aus">
            <img src="./images/canflag.png" alt="flag" class="flag">
            <h5>Study In Canada</h5>
            <p>
                    Canada has been voted best place to live &
                     best place to study, while also ranking high
                     for working, visiting and investing. 
                     Canadian degree, diploma or certificate is accepted
                      globally owing to its quality education. 
            </p>
            <a href="/study-in-canada"><button class="btn btn-primary btn-sm">See More</button></a>
       </div>  
       <div class="col-sm-4 col-lg-4 abroad">
            <img src="./images/usa.jpg" alt="USA" class="aus">
            <img src="./images/usaflag.png" alt="flag" class="flag">
            <h5>Study In USA</h5>
            <p>
                Apart from the fact that USA is the largest economy with the best facilities for
                    international students. 
                Top students of the world try for admission into top universities and are 
                taught by best professors along with latest techniques and infrastructures. 
            </p>
            <a href="/study-in-usa"><button class="btn btn-primary btn-sm">See More</button></a>
       </div>
       <div class="col-sm-4 col-lg-4 abroad">
            <img src="./images/new.jpg" alt="new-zealand" class="aus">
            <img src="./images/newflag.gif" alt="flag" class="flag">
            <h5>Study In New Zealand</h5>
            <p>
                    New Zealand is becoming one of the world’s most preferred destinations in 
                    attracting & fascinating international Students because of its beautiful 
                    Culture, Supportive Learning Environment and for being Practical, Modern and Desirable. 
            </p>        
            <a href="/study-in-newzealand"><button class="btn btn-primary btn-sm">See More</button></a>
       </div> 
       <div class="col-sm-4 col-lg-4 abroad">
            <img src="./images/japan.png" alt="Japan" class="aus">
            <img src="./images/japflag.jpg" alt="flag" class="flag">
            <h5>Study In Japan</h5>
            <p>
                    Japan is becoming one of the world’s most preferred destinations in 
                    attracting & fascinating international Students because of its beautiful 
                    Culture, Supportive Learning Environment and for being Practical, Modern and Desirable.
            </p>
            <a href="/study-in-japan"><button class="btn btn-primary btn-sm">See More</button></a>
       </div>
       <div class="col-sm-4 col-lg-4 abroad">
            <img src="./images/europ.jpg" alt="Europe" class="aus">
            <img src="./images/europeflag.jpg" alt="flag" class="flag">
            <h5>Study In Europe</h5>
            <p>
                    New Zealand is becoming one of the world’s most preferred destinations in 
                    attracting & fascinating international Students because of its beautiful 
                    Culture, Supportive Learning Environment and for being Practical, Modern and Desirable. 
            </p>
            <a href="/study-in-europe"><button class="btn btn-primary btn-sm">See More</button></a>
       </div>                                    

</div>
