<div class="col-sm-12 col-lg-12 contact-us">
        <img src="./images/background.png" alt="" id="back-img">
        <h3>GET IN TOUCH WITH US</h3>
        <div class="sub-menus">
                <a href="#location">Our Location</a>
                <a href="#message">Message Us</a>
        </div>
    <div class="col-sm-12 col-lg-12 contacts container">
        <div class="col-sm-6 col-lg-6 contact-info">
            <h2>Contact Info</h2>
            <div>
                <p><span class="fa fa-phone"></span> Phone</p>
                <label for="phone">01-555555, 01-444444</label>
            </div>
            <div>
                 <p><span class="fa fa-envelope"></span> E-mail</p>
                 <label for="phone">xeeis12@gmail.com</label>
            </div> 
            <div>
                <p><span class="fa fa-map-marker"></span> Address</p>
                <label for="phone">Koteshwor, Kathmandu Nepal</label>
            </div> 
            <div class="social-link">
                 <p> Social Links</p>
                 <span class="fa fa-facebook"></span>
                 <span class="fa fa-envelope"></span>
                <span class="fa fa-google"></span>
                <span class="fa fa-youtube-play"></span>
            </div>           
        </div>
        <div class="col-sm-6 col-lg-6 message-us" id="message">
          <h2>Send Us Message</h2>
            <label for="">Feel free to send us message</label>
           <div class="forms">
             <form>
                 <input type="text" id="" placeholder="Name*" required name="name" ng-model="field.name">
               <input type="email" id="" placeholder="Email*" required name="email" ng-model="field.email"><br>
               <input type="text" id="" placeholder="Contact*" required name="contact" ng-model="field.contact" pattern="[0-9]{10}">
               <select ng-model="field.studyAbroad">
                   <option>select Interested In</option>
                   <option value="Study Abroad" name="studyAbroad">Study Abroad</option>
                   <option value="Career Counseling"  name="studyAbroad">Career Counseling</option>
                   <option value="Test Preparation" name="studyAbroad">Test Preparation</option>
               </select>
                   <br>
               <textarea name="" id="" cols="40" rows="4" placeholder="Message" name="message" ng-model="field.message"></textarea><br>
               <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
               <img src="./images/loading.gif" id="loading">
               <h4>{{success}}</h4>
            </form>
           </div>
        </div>
    </div> 
    <div class="col-sm-12 col-lg-12 contacts location">
        <h2 id="locc">Find Us On Map</h2>
        <div class="locations">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14130.211502104612!2d85.33946470000001!3d27.7002111!3m2!1i1024!2i768!4f13.1!4m3!3e6!4m0!4m0!5e0!3m2!1sen!2snp!4v1522213526438">
                </iframe>
        </div>
    </div>   
 </div>
 <style>
 </style>