<div class="col-sm-12 col-lg-12 about-us">
        <img src="./images/background.png" alt="" id="back-img">
        <h3>FREQUENTLY ASKED QUESTIONS</h3>
        <div class="faqs">
                <p class="questions" data-toggle="collapse" data-target="#q1">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam?<span class="fa fa-angle-down"></span></p>
                <div id="q1" class="collapse">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
                <p class="questions" data-toggle="collapse" data-target="#q2">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam? <span class="fa fa-angle-down"></span> </p>
                <div id="q2" class="collapse">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
                <p class="questions" data-toggle="collapse" data-target="#q3">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam?<span class="fa fa-angle-down"></span></p>
                <div id="q3" class="collapse">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
                <p class="questions" data-toggle="collapse" data-target="#q4">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam?<span class="fa fa-angle-down"></span></p>
                <div id="q4" class="collapse">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
                <p class="questions" data-toggle="collapse" data-target="#q5">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam?<span class="fa fa-angle-down"></span></p>
                <div id="q5" class="collapse">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
                <p class="questions" data-toggle="collapse" data-target="#q6">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam?<span class="fa fa-angle-down"></span></p>
                <div id="q6" class="collapse">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
        </div>
 </div>
 <style>

 </style>