<footer class="footer-distributed">

		<div class="footer-left">

			<h3>Express Entry<span> Education Consultancy</span></h3>

			<p class="footer-links">
				<a href="/">Home</a>
				|
				<a href="/about">About</a>
				|
				<a href="/services">Services</a>
				|
				<a href="/faq">Faq</a>
				|
				<a href="/contact>Contact</a>
			</p>

			<p class="footer-company-name">XEEIS &copy; 2018</p>
		</div>

		<div class="footer-center">

			<div>
				<i class="fa fa-map-marker"></i>
				<p><span>21 Coteshwor</span> Kathmandu, Nepal</p>
			</div>

			<div>
				<i class="fa fa-phone"></i>
				<p>+01 555 123456</p>
			</div>

			<div>
				<i class="fa fa-envelope"></i>
				<p><a href="mailto:xeeis12@gmail.com">xeeis12@gmail.com</a></p>
			</div>

		</div>

		<div class="footer-right">

			<p class="footer-company-about">
				<span>Goal Of the XEEIS</span>
				Xpress Entry Educational & Information Services (XEEIS) is a licensed education 
				consultancy established in 2015 AD, 
				delivering a range of education through trained professionals from the very beginning.
				<span class="">Developed By:<a href="/ideabreed.com"> IDEABREED</a></span>
			</p>

			<div class="footer-icons">
			</div>

		</div>

	</footer>