<div class="col-sm-12 col-lg-12 header">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="./images/logo.png" alt="XEEIS LOGO">
                <h4>XEEIS</h4>
            </a>
          </div>
          <div class="menu-bars"><span class="fa fa-bars" id="menu-icon"></span></div>
          <ul class="nav navbar-nav navigation">
            <li class=""><a href="/" id="hom">HOME</a></li>
            <li class=""><a href="/about" id="abt">ABOUT</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="serv">SERVICES
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/services">CAREER COUNSILING</a></li>
                <li><a href="/services">TEST PREPARATION</a></li>
              </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="s-a">STUDY ABROAD
                <span class="caret"></span></a>
                <ul class="dropdown-menu navigation">
                  <li><a href="/study-in-australia">AUSTRALIA</a></li>
                    <li><a href="/study-in-japan">JAPAN</a></li>
                    <li><a href="/study-in-usa">USA</a></li>
                  <li><a href="/study-in-europe">EUROPE</a></li>
                  <li><a href="/study-in-newzealand">NEW ZEALAND</a></li>
                  <li><a href="/study-in-canada">CANADA</a></li>
                </ul>
              </li>
            <li><a href="/faq" id="faq">FAQ</a></li>
            <li><a href="/contact" id="c-u">CONTACT US</a></li>
          </ul>
        </div>
      </nav> 
</div>
<div class="social-links col-sm-12 col-lg-12">
    <div class="fb">
        <span class="fa fa-facebook"></span>
    </div>
    <div class="fb">
        <span class="fa fa-google"></span>
    </div>
    <div class="fb" id="contact">
        <span class="fa fa-phone"></span><span id="fast-contact"> 01-3356777, 01-3356777</span>
    </div>
    <div class="fb" id="email">
        <span class="fa fa-envelope"></span>
    </div>
</div>