<div class="col-sm-12 col-lg-12 our-services">
    <img src="./images/background.png" alt="" id="back-img">
    <h3>Our Services</h3>
    <div class="sub-menus">
            <a href="">Career Counseling</a>
            <a href="">Test Preparation</a>
    </div>
</div>
<div class="profile col-sm-12 col-lg-12" id="profile">
    <h4>Career Counseling</h4>
    <div class="descriptio">
        <p id="profile" class="col-sm-10 col-lg-10">
       <%= data.career%>
       </p>
       <div class="col-sm-3 col-lg-3 included-courses" data-spy="affix" data-offset-top="350">
            <div class="col-sm-12" id="cycle">
                    <img src="./images/toefl.jpg" alt="Toefl" style="width:100%; height:200px; border:0px;">
                    <img src="./images/gmat.jpg" alt="Gmat" style="width:100%; height:200px;border:0px;">
                    <img src="./images/gre.png" alt="GRE" style="width:100%; height:200px;border:0px;">
                    <img src="./images/pte.png" alt="pte" style="width:100%; height:200px;border:0px;">
                    <img src="./images/sat.png" alt="SAT" style="width:100%; height:200px;border:0px;">
                    <img src="./images/ielts.png" alt="Ielts" style="width:100%; height:200px;border:0px;">
            </div>
       </div>
    </div>
</div>
<div class="profile col-sm-11 col-lg-11">
        <h4>Test Preparation Classes</h4>
        <div class="description col-sm-10 col-lg-10">
            <!-- <p id="profile" class="col-sm-12 col-lg-12"> -->
                 <h5>IELTS</h5> 
                 <p><%= data.exprerience%></p> 
                 <h5>TOEFL</h5>
                 <p><%= data.credibility%></p> 
                 <h5>GRE</h5>
                 <p><%= data.staff%></p>
                 <h5>GMAT</h5>
                 <p><%= data.staff%></p>
                 <h5>PTE</h5>
                 <p><%= data.staff%></p>
                 <h5>SAT</h5>
                 <p><%= data.staff%></p>
            <!-- </p> -->
        </div>
    </div>
</div>
<style>

</style>